@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F8FAFC;
  color: #111827;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}